<main role="main" class= "container">
<h1 class="mt-5">&nbsp;</h1>
<h5 class="mt-5">create New Account</h5>
<br/>
<ng-template #showForm>
  <span class="lead">
    <form action="" class="form-signin" #newUserForm="ngForm" (ngSubmit)="setUser(newUserForm.value)">
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" #inputEmail="ngModel" ngModel required autofocus>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
        plese enter valid email address
      </div>

      <br/>
      <div class="form-label-group">
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required minlength = "3" autofocus>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
        plese enter valid password
      </div>
      <br/>
      <div *ngIf="!newUserForm.valid else showSubmitForm">
      <button class="btn btn-lg btn-primary btn-block" type="submit" disabled>Create New Account</button>        
      </div>
      <ng-template #showSubmitForm>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create New Account</button>        
        
      </ng-template>
      <p class="mt-5 mb-3 text-muted text-center">
        <a routerLink="/login">Login</a>
      </p>
    </form>
  </span>
</ng-template>

</main>